<% content_for :left do %>
  <%= render :partial => '/app_menu' %>
<% end %>
  
<%= render :partial => 'event/participations/menu' %>

<div id='participations'>
  <%= render :partial => 'invitation', :collection => @invitations %>
</div>

<%= will_paginate @invitations %>

